    body { 
      padding: 10px;
      background-color: #ddd;
     }
    input {
      margin:10px 0;
      cursor:pointer;
      background-color:#ddd;
      min-width:100px;
      text-align:left;    
    }
    table {
      background-color: #ddd;
      margin:8px 0 0 0;
      border: solid 1px #000;
      border-collapse: collapse;
    }
    table td,table th {
      border: solid 1px #000;
      padding:3px;
    }

    table input{
      background-color:#fff;
    }
    button {
      cursor:pointer;
      background-color:#aaa;
      min-width:100px;
      text-align:center;
    }

 .host_list{
  overflow:auto;
  width:500px;
  height:300px;
}
